---
layout: default
title: How I Work
---

<main class="w-100 cf dark-gray bg-white pa3 pa4-m pa5-l mw9 center">
    <h1 class="tc f1-m f-headline-l fw2 mt4">{{ page.title }}</h1>


    <div class="fl pa2 w-100 w-50-l">
            
                    {% for post in site.posts %} {% if post.how == 'y' %}
                    <article class="pb3 ph3-ns mb3">
                        <a href="{{site.baseurl}}{{ post.url }}" class="link">
                            <div class="shadow-4 shadow-hover">
                                <div class="cover bg-center aspect-ratio aspect-ratio--16x9" style="background-image: url('{{site.baseurl}}/{{ post.image}}');background-position: {{ post.offset }};"></div>
                                <div class="pa3">
                                    <h3 class="f5 f3-l dark-gray ma0 fw3">{{ post.title }}</h3>
                                    <div class="f6 f5-l gray db pv2">{{ post.date | date_to_string }}</div>
                                </div>
                            </div>
                        </a>
                    </article>
                    {% endif %} {% endfor %}
            
                </div>


    <div class="fl w-50 w-25-l pa2">
        <h1 class="f4 bold">Paint</h1>
        <ul class="list pl0 ml0  mw6 ba b--light-silver br2 light-gray">
            <li class="ph3 pv3 bb b--light-silver">
                <a class="link dim near-black" href="http://www.winsornewton.com/uk/shop/oil-colour/winton-oil-colour" target="_blank">
                    Cerulean Blue
                </a>
            </li>
            <li class="ph3 pv3 bb b--light-silver">
                <a class="link dim near-black" href="http://www.winsornewton.com/uk/shop/oil-colour/winton-oil-colour" target="_blank">
                        Magenta
                    </a>
            </li>
            <li class="ph3 pv3 bb b--light-silver">
                <a class="link dim near-black" href="http://www.winsornewton.com/uk/shop/oil-colour/winton-oil-colour" target="_blank">
                            Winsor Yellow
                        </a>
            </li>
            <li class="ph3 pv3 bb b--light-silver">
                <a class="link dim near-black" href="http://www.winsornewton.com/uk/shop/oil-colour/winton-oil-colour" target="_blank">
                                Lamp Black
                            </a>
            </li>
            <li class="ph3 pv3 bb b--light-silver">
                <a class="link dim near-black" href="http://www.winsornewton.com/uk/shop/oil-colour/winton-oil-colour" target="_blank">
                                    Titanium White
                                </a>
            </li>
            <li class="ph3 pv3">
                <a class="link dim near-black" href="http://www.winsornewton.com/uk/shop/oil-colour/winton-oil-colour" target="_blank">
                                        Winsor&amp;Newton
                                    </a>
            </li>
        </ul>
    </div>

    <div class="fr w-50 w-25-l pa2">
            <h1 class="f4 bold">Brushes</h1>
            <ul class="list pl0 ml0  mw6 ba b--light-silver br2 light-gray">
                <li class="ph3 pv3">
                    <a class="link dim near-black" href="https://www.jacksonsart.com" target="_blank">
                                            Jackson's Art Supplies
                                        </a>
                </li>
            </ul>
        </div>
        <div class="fr w-50 w-25-l pa2">
                <h1 class="f4 bold">Canvas</h1>
                <ul class="list pl0 ml0  mw6 ba b--light-silver br2 light-gray">
                    <li class="ph3 pv3">
                        <a class="link dim near-black" href="https://www.jacksonsart.com" target="_blank">
                                                Jackson's Art Supplies
                                            </a>
                    </li>
                </ul>
            </div>

    </main>
