
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
    <label for="sidebar-checkbox" class="sidebar-toggle-wrapper bg-dark-gray o-50">
        <div class="sidebar-toggle"></div>
    </label>

    <nav role="navigation" class="sidebar sidebar--right bg-dark-gray pa3">
        <a href="{{site.baseurl}}/" class="link">
            <div class="cover"><img src="{{site.baseurl}}/images/logo/text_1line_white.svg"></img>
            </div>
        </a>
        <ul class="sidebar-recentPosts">
            <li>Portfolios:</li>
            {% for portfolio in site.data.portfolio %}
            <li class="gallery-link"><a href="{{site.baseurl}}/{{portfolio.name}}.html">{{portfolio.name}}</a></li>
            {% endfor %}
        </ul>
        <ul class="sidebar-recentPosts">
            <li>Recent Posts:</li>
            {% for post in site.posts limit:5 %}
                <li>
                <a href="{{site.baseurl}}{{ post.url }}" class="sidebar-recentPosts-image-wrapper">
                    <img src="{{site.baseurl}}/{{post.image}}" style="" alt="">
                </a>
                <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                <div class="postMeta">{{ post.date | date_to_string }}</div>
                </li>
            {% endfor %}
        </ul>
    </nav>
